* {
    box-sizing: border-box
}

table,
th {
    border-left: 1px dashed;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    text-align: center
}

td {
    border-left: 1px dashed;
    border-bottom: 1px dashed;
    text-align: center
}

.body {
    margin: 0
}

#maininput {
    margin-left: 10px;
    width: 98%;
    resize: vertical;
    min-height: 200px;
    border-radius: 5px;
    margin-top: 5px
}

#demo-container {
    width: 100%;
    border-top: solid;
    border-right: solid;
    position: relative
}

#buttons {
    margin: 5px 5px 5px 5px;
    user-select: none
}

.demo-area {
    padding: 5px;
    line-height: 150%;
    font-family: Times
}

.colorful-button {
    margin: 0;
    margin-left: 3px;
    border: 2px solid;
    padding: 5px;
    border-radius: 8px
}

.dark-button {
    border: solid 1px;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    user-select: none
}

.colorful-button,
.dark-button {
    text-align: center
}

.word-filler {
    font-family: Arial;
    font-size: 110%;
    margin-left: .05in;
    margin-right: .05in;
    position: relative;
    white-space: nowrap
}

.word-filler-current {
    font-family: monospace;
    font-weight: 700;
    font-size: 115%;
    position: relative;
    white-space: nowrap
}

.word-filler-done {
    font-weight: 700;
    animation: blinkingText .4s 1;
    position: relative;
    white-space: nowrap;
    margin-left: .05in;
    margin-right: .05in
}

.word-filler-dup {
    color: #30b787;
    font-family: auto;
    cursor: pointer
}

#explain-container {
    border-left: dotted 1px grey;
    overflow-y: auto;
    height: 93vh;
    position: absolute;
    left: 78%;
    right: .1%
}

#text-container {
    position: absolute;
    width: 78%;
    height: 94vh;
    overflow-y: scroll
}

#demo {
    width: 100%;
    min-height: 100%;
    border: solid 1px gray;
    overflow-x: hide;
    padding-left: 20px;
    padding-right: 20px
}

.red-zone {
    cursor: text
}

#explain-area,
#explain-head {
    counter-reset: chapter
}

#explain-area .word-filler-done,
#explain-container .word-filler {
    font-size: 30px
}

#explain-area p {
    font-size: 20px
}

#explain-head .word-filler,
#explain-head .word-filler-done {
    display: block;
    font-weight: lighter;
    font-family: Times
}

#explain-head .word-filler-done::before,
#explain-head .word-filler::before {
    font-size: 20px
}

.about {
    font-size: 12px;
    position: absolute;
    right: 20px
}

@media (max-width:1200px) {
    .about {
        display: none
    }

    #buttons {
        text-align: center
    }
}

.about p {
    margin: 0
}

.about a:hover {
    color: #f27474
}

.selecTcss {
    color: #f27474
}

.selecTcss:hover,
.word-filler-done:hover,
.word-filler:hover {
    cursor: pointer
}

.zh {
    font-family: 宋体;
    font-size: 25px;
    cursor: pointer
}

.eng {
    color: #17ad29
}

::-webkit-scrollbar {
    width: 3px
}

#text-container::-webkit-scrollbar-thumb,
.explain-head-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ee3f4e
}

#explain-container::-webkit-scrollbar-thumb,
#maininput::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888
}

#maininput::-webkit-scrollbar {
    width: 5px
}

.word-filler-err {
    font-weight: 700;
    font-size: 125%;
    margin-left: .05in;
    margin-right: .05in;
    font-family: monospace;
    position: relative;
    white-space: nowrap;
    color: #e92929
}

.current-noter-container {
    border-radius: 10px
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ee3f4e
}

.explain-head-mask {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500
}

.explain-head-div {
    width: 850px;
    height: 550px;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 5px
}

#btn_up_case {
    position: sticky;
    float: right;
    top: 15px;
    right: 15px;
    z-index: 10;
    border-radius: 5px
}

.btn-case {
    width: 22px;
    height: 22px;
    cursor: default;
    background-color: #30b787;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    margin: 5px;
    user-select: none
}

.btn-case:hover {
    border: #f27474 2px solid
}

#toUPcase {
    background-color: #be85ff80;
    margin-bottom: 10px
}

#explain-head {
    font-size: 30px;
    font-weight: 700;
    font-family: monospace;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px
}

.explain-head-mask .word-filler,
.explain-head-mask .word-filler-done {
    margin-left: 30px;
    padding-left: 10px
}

.explain-head-mask .word-filler-done:hover,
.explain-head-mask .word-filler:hover {
    margin-bottom: -1px;
    border-bottom: solid 1px grey
}

#exp-head {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 10px
}