#explain-head .word-filler[style^="color: rgb"]:after,
#explain-area .word-filler[style^="color: rgb"]:after {
    font-size: 12px;
    margin: 0 10px;
    border-radius: 3px;
    border: 1px #909399 solid;
    padding: 1px;
    color: white;
}

#explain-head .word-filler[style="color: rgb(255, 118, 118);"]:after,
#explain-area .word-filler[style="color: rgb(255, 118, 118);"]:after {
       content: "\4e2d\8003";
}

#explain-head .word-filler[style="color: rgb(96, 148, 234);"]:after,
#explain-area .word-filler[style="color: rgb(96, 148, 234);"]:after {
        content: "\9ad8\8003";
}

#explain-head .word-filler[style="color: rgb(115, 110, 254);"]:after,
#explain-area .word-filler[style="color: rgb(115, 110, 254);"]:after {
      content: "\8003\7814";
}

#explain-head .word-filler[style="color: rgb(221, 210, 120);"]:after,
#explain-area .word-filler[style="color: rgb(221, 210, 120);"]:after {
        content: "\516d\7ea7";
}

#explain-head .word-filler[style="color: rgb(206, 159, 252);"]:after,
#explain-area .word-filler[style="color: rgb(206, 159, 252);"]:after {
        content: "\4e13\516b";
}

#explain-head .word-filler[style="color: rgb(197, 53, 239);"]:after,
#explain-area .word-filler[style="color: rgb(197, 53, 239);"]:after {
    content: "GRE";
}